// breakpoints
$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1420px,
);

// design size
$design-size: (
  "pc-width": 1440,
  "pc-height": 810,
  "sp-width": 360,
  "sp-height": 800,
);

// colors
$color-base-white: #fff;
$color-base-black: #212121;
$color-base-gray: #6a6a6a;
$color-base-red: #df4949;
$color-base-blue: #498edf;
$color-base-green: #42c57e;
$color-base-yellow: #f6ac19;
$color-bg-black: #333333;
$color-bg-gray-light: #f8f8f8;
$color-bg-gray-dark: #666;
$color-border-gray: #c8c8c8;
$color-border-gray-02: #d9d9d9;
$color-tag-gray: #7d7d7d;
$color-tag-gray-light: #e9e9e9;
$color-font-gray-light: #c8c8c8;
$color-font-gray-light-02: #f8f8f8;
$color-sns-gray: #bcbcbc;
$color-yellow-marker: #e9f651;

// shadow
$shadow-base: 10px 10px 20px 0px rgba(200, 200, 200, 0.05);
$shadow-top: 0 40px 60px rgb(18 113 142 / 24%);
$shadow-occupation: 0 10px 40px 0 rgb(153 211 239 / 10%);
$shadow-works-environment: 0 0 50px rgb(28 105 129 / 10%);

// fonts
$font-family-notosan: "Noto Sans JP", "游ゴシック", YuGothic,
  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;

// animations
$duration-short: 0.3s;
$duration-base: 0.5s;
$duration-full: 0.8s;

// easing
$easing-transform: cubic-bezier(0.43, 0.05, 0.17, 1);
$easing-material: cubic-bezier(0.26, 0.16, 0.1, 1);

// z-index
$z-index-header: 100;
$z-index-openning: 101;
